@charset "UTF-8";
@import url("reset.css");
@import url(common.css);
/* 웹폰트 */
@import url(../font/Montserrat/stylesheet.css);
@import url(../font/손글씨_국문_교보2021/stylesheet.css);
@import url(../font/손글씨_영문Reenie_Beanie/stylesheet.css);

html,
body {
  font-size: 62.5%;
  /* rem 기준 10px설정*/
  font-family: "Montserrat";
  line-height: 1.4;
  /* 140%; */
}

body {
  position: relative;
  /* 헤더고정 */
  margin: 0;
}

body #wrap {
  font-size: var(--fontSize-20);
}

section {
  margin-bottom: 20rem;
}

.header {
  width: 100%;
  height: 10rem;
  position: fixed;
  top: 0;
  left: 0;
  /* 헤더고정 */
  z-index: 999999;
  background-color: #ffffff;
}

.header .inner {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.header .inner .logo a {
  height: 100%;
  display: block;
  font-size: var(--fontSize-28);
  font-weight: 300;
}

.header .inner .nav {
  display: flex;
  font-size: var(--fontSize-16);
  font-weight: 400;
  gap: 1rem;
  /* li */
}

.header .inner .nav li a {
  display: block;
  height: 100%;
  padding: 2rem;
}

.main_section,
.contact {
  width: 100%;
  height: 100vh;
  padding-top: 200px;
}

.main_section .letter_section_open

/* .contact .letter_section_close */
  {
  height: 100% !important;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact .letter_section_close {
  height: 100% !important;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main_section .letter_section_open .title {
  width: 100%;
  position: absolute;
  top: 13rem
}

.contact .letter_section_close .title {
  /* title문구와 편지 사이 거리 */
  position: absolute;
  /* 기준은 letter_section_close:fixed */
  top: -170px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main_section .letter_section_open .title p {
  font-family: "Reenie Beanie";
  font-size: var(--fontSize-64);
  text-align: center;
  /* 왼쪽으로 7도 기울이기 */
  /*   transform: rotate(-7deg);
  transition: transform 0.5s ease; */
  /* 모션과 함께 적용되도록 transition 추가 (선택사항) */
}

.contact .letter_section_close .title p {
  font-family: 'Kyobo Handwriting 2021 sjy';
  font-size: var(--fontSize-40);
  text-align: center;
}

.main_section .letter_section_open .envelope_section,
.contact .letter_section_close .envelope_section {
  /* position:relativer기준 부모인 .letter_section_open  */
  width: 100%;
  display: flex;
  /* justify-content: center; */
  position: absolute;
  left: 40%;
}

.main_section .letter_section_open .envelope_section .envelope-wrap,
.contact .letter_section_close .envelope_section .envelope-wrap {
  position: relative;
  width: 40rem;
  height: 40rem;
}

.main_section .letter_section_open .envelope_section .envelope-wrap img,
.contact .letter_section_close .envelope_section .envelope-wrap img {
  position: absolute;
  left: 0;
  width: 100%;
  object-fit: cover;
  /* 왼쪽으로 7도 기울이기 */
  /* transform: rotate(-7deg);
  transition: transform 0.5s ease; */
  /* 모션과 함께 적용되도록 transition 추가 (선택사항) */
}

.main_section .letter_section_open .envelope_section .envelope-wrap img:nth-child(4),
.contact .letter_section_close .envelope_section .envelope-wrap img:nth-child(4) {
  width: 90%;
  position: absolute;
  left: 20px;
}

/* 봉투 초기 상태 1)open모션 2)close모션*/
.main_section .letter_section_open .envelope_section .envelope-wrap .envelope-closed {
  opacity: 1;
  z-index: 4;
}

.main_section .letter_section_open .envelope_section .envelope-wrap .envelope-body {
  opacity: 1;
  z-index: 2;
}

.main_section .letter_section_open .envelope_section .envelope-wrap .envelope-flap {
  transform-origin: top center;
  /* 뚜껑이 위로 열림 */
  z-index: 3;
}

.main_section .letter_section_open .envelope_section .envelope-wrap .letter {
  position: absolute;
  top: 0;
  left: 0;
  /* transform: translateY(120px); */
  z-index: 1;
}


.contact .letter_section_close .envelope_section .envelope-wrap .closed {
  opacity: 1;
  z-index: 4;
}

.contact .letter_section_close .envelope_section .envelope-wrap .body {
  opacity: 1;
  z-index: 2;
}

.contact .letter_section_close .envelope_section .envelope-wrap .flap {
  transform-origin: top center;
  /* 뚜껑이 위로 열림 */
  z-index: 3;
}

.contact .letter_section_close .envelope_section .envelope-wrap .letter02 {
  position: absolute;
  top: 0;
  left: 0;
  /* transform: translateY(120px); */
  z-index: 1;
}

.main_section .letter_section_open .text {
  width: 100%;
  height: 9rem;
  position: relative;
  position: absolute; /* 기준은  envelope_section */
  bottom: 24.8rem;
  left: 7.3rem;


}

.contact .letter_section_close .text {
  width: 100%;
  height: 9rem;
  position: relative;
  margin-top: -110px;
  margin-left: 150px;
}

.main_section .letter_section_open .text p,
.contact .letter_section_close .text p {
  position: absolute;
  bottom: 0;
  left: 56%;
  /* 화살표와 text사이거리 조절 */
  font-family: "Reenie Beanie";
  font-size: var(--fontSize-40);
}

.main_section .letter_section_open .text::before,
.contact .letter_section_close .text::before {
  content: "";
  width: 13.64%;
  height: 100%;
  background: url("../img/화살표.png") center center/100% no-repeat;
  position: absolute;
  top: 0;
  left: 40%;
}

/* 편지end*/


/* reveal text효과1 */
.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

.main_section_02 {
  /*   display: flex;
  align-items: center;
  justify-content: center; */
  min-height: 100vh;
}

.main_section_02 .container {
  /* position: relative; */
}

.main_section_02 .container .reveal {
  font-family: 'Kyobo Handwriting 2021 sjy';
  font-kerning: none;
  text-transform: uppercase;
  font-size: var(--fontSize-40);
  line-height: 1.4;
  margin-top: 20rem;
}

/* reveal text 효과1 end */


/* 날아가는 새 */
#robin {
  width: 8em;
}

/* 날아가는 새 end */

.about {
  width: 100%;
}

.about .letter_bg {
  background-image: url("../img/letter질감2_컬러.png")
    /* url링크만 쓸 수 있음. */
}

.about .letter_bg .inner {
  width: 100%;
  /* 컨테이너w */
  display: flex;
  justify-content: space-between;
  padding: 5.2rem 0 9rem 0;
}

.about .letter_bg .inner .left_wrap {
  width: 39rem;
  /* 25.65%; */
  margin: 3.8rem 0 0 0;
}

.about .letter_bg .inner .left_wrap .photo {
  width: 100%;
  height: 42.4rem;
  transform: rotate(3deg);
  position: relative;
  margin-bottom: 4rem;
}

.about .letter_bg .inner .left_wrap .photo::before {
  content: "";
  width: 38.16rem;
  height: 38.16rem;
  background: url("../img/clip.png") center center/100% no-repeat;
  position: absolute;
  top: -22.5rem;
  left: -6.6rem;
  z-index: 999;
  transform: rotate(74deg);
}

.about .letter_bg .inner .left_wrap .photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about .letter_bg .inner .left_wrap .info_wrap {
  width: 100%;
  /* padding: 0 0 0 3rem; */
}

.about .letter_bg .inner .left_wrap .info_wrap .info {
  width: 100%;
  display: flex;
  gap: 1.7rem;
}

.about .letter_bg .inner .left_wrap .info_wrap .info .field {
  width: 8rem;
  font-weight: 600;
}

.about .letter_bg .inner .left_wrap .info_wrap .info p {
  font-size: var(--fontSize-20);
}

.about .letter_bg .inner .right_wrap {
  width: 102.5rem;
  display: flex;
  flex-direction: column;
}

.about .letter_bg .inner .right_wrap strong {
  width: 100%;
  font-weight: 600;
}

.about .letter_bg .inner .right_wrap .aboutme,
.about .letter_bg .inner .right_wrap .career,
.about .letter_bg .inner .right_wrap .education,
.about .letter_bg .inner .right_wrap .skill {
  border: 0.1rem solid #666666;
  padding: 2.4rem 2rem;
}

.about .letter_bg .inner .right_wrap .text_wrap {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 0 0 13.1rem;
  margin-top: 3rem;
}

.about .letter_bg .inner .right_wrap .text_wrap .text {
  display: flex;
  align-items: end;
  gap: 2rem;
}

.about .letter_bg .inner .right_wrap .text_wrap .text .what {
  font-size: var(--fontSize-20);
  font-weight: 400;
}

.about .letter_bg .inner .right_wrap .text_wrap .text .date {
  font-size: var(--fontSize-18);
  font-weight: 400;
  color: #666666;
}

.about .letter_bg .inner .right_wrap .skill .list {
  display: flex;
  gap: 2rem;
  padding: 0 0 0 13.1rem;
  margin-top: 3rem;
}

.about .letter_bg .inner .right_wrap .skill .list .image {
  width: 4.7rem;
  height: 4.7rem;
}

.about .letter_bg .inner .right_wrap .skill .list .image img {
  height: 100%;

}

/* project */
.project {
  /* width: 100%; */
}

.project .inner {
  max-width: 1920px;
  width: calc(100% - 80px);
  margin: 0 auto;
  display: flex;
  gap: 12rem;
  /* 스티키섹션과 list사이 거리 */
}

.project .inner .section_sticky {
  /* width: 16%; */
  height: 100%;
  position: sticky;
  top: 20rem;
  /* 탭메뉴 스크롤 고정 */
}

.project .inner .section_sticky h3 {
  font-size: var(--fontSize-40);
  font-weight: bold;
  margin-bottom: 2rem;
}

.project .inner .section_sticky .tab_menu {
  width: 100%;
  display: flex;
  cursor: pointer;
  gap: 1rem;
}

.project .inner .section_sticky .tab_menu li {
  padding: 1rem rem;
  border-bottom: 2px solid #F6A9CB;
  background-color: #ffff;
}

.project .inner .section_sticky .tab_menu li:nth-child(1) {
  border-right: 0;
}

.project .inner .section_sticky .tab_menu li:hover {
  background-color: #F6A9CB;
  color: #ffff;
}

.project .inner .section_sticky .tab_menu li.active {
  background-color: #F6A9CB;
  color: #ffff;
}

.project .inner .list {
  width: 83%;
  display: flex;
  flex-direction: column;
  display: none;
  row-gap: 18rem;
  position: relative;
  /* 가상요소 기준 */
}


.project .inner .list.active {
  display: flex;
  /* 보여지게 함 */
}

.project .inner .list::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: #F6A9CB;
  top: 0;
  left: -9rem;
}

.project .inner .list .item {
  width: 100%;
  display: flex;
  gap: 8rem;
}

.project .inner .list .item .image {
  /* image크기에 따라 item영역 분배됨 */
  height: 50rem;
}

.project .inner .list .item .image.big {
  width: 73rem;
}

.project .inner .list .item .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project .inner .list .item .image img {
  /* .image에 class명 .contain 붙었을 때 */
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.project .inner .list .item .text_section {
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
  justify-content: flex-start;
  padding: 1rem 0 0 0;
}

.project .inner .list .item .text_section strong {
  font-size: var(--fontSize-35);
}

.project .inner .list .item .text_section .text_wrap {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.project .inner .list .item .text_section .text_wrap .text {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.project .inner .list .item .text_section .text_wrap .text .field {
  width: 8rem;
  font-size: var(--fontSize-20);
  font-weight: 600;
}

.project .inner .list .item .text_section .text_wrap .text p {}

.project .inner .list .item .text_section .site_wrap {
  width: 100%;
  height: 10.9rem;
  ;
  display: flex;
  gap: 2rem;
}

.project .inner .list .item .text_section .site_wrap.long .site {
  /* .site_wrap에 class명 .long이 붙었을 때 */
  width: 30.3rem;
  height: 100%;
  justify-content: center;
}

.project .inner .list .item .text_section .site_wrap img {
  width: 10.9rem;
  height: 100%;
}

.project .inner .list .item .text_section .site_wrap .site {
  width: 30.3rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project .inner .list .item .text_section .site_wrap .site .pnf {
  display: flex;
  gap: 1rem;
}

.project .inner .list .item .text_section .site_wrap .site .pnf li {
  padding: 1rem 3rem;
  background-color: #ffff;
  border: 2px, solid, #F6A9CB;

}

.project .inner .list .item .text_section .site_wrap .site .pnf li:hover {
  background-color: #F6A9CB;
  color: #ffffff;
}

.project .inner .list .item .text_section .site_wrap .site .pnf li a {
  display: block;
  width: 100%;
}

.project .inner .list .item .text_section .site_wrap .site .web {
  text-align: center;
  padding: 1rem 3rem;
  background-color: #ffff;
  background-color: #F6A9CB;
  color: #ffff;
}

.project .inner .list .item .text_section .site_wrap .site .web:hover {
  background-color: #F6A9CB;
  color: #000000
}

.project .inner .list .item .text_section .site_wrap .site .web::marker {
  color: white;
}

.project .inner .list .item .text_section .site_wrap .site .web li a {
  width: 100%;
  display: block;
}

/* design */
.design {
  width: 100%;
  position: relative;
}

.design .swiper.mySwiper h3 {
  font-size: var(--fontSize-40);
  font-weight: bold;
  margin-bottom: 5rem;
}

.design .swiper-wrapper {
  position: static;
  /* 포지션relativ 초기화 */
}

.design .swiper-slide {
  height: 40rem;
}

.design .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next,
.swiper-button-next,
.swiper-rtl .swiper-button-next {
  --swiper-theme-color: #F6A9CB;
}

/* 화살표 */

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  position: absolute;
  top: 0;
  left: 0;
  --swiper-theme-color: #F6A9CB;

}

/* 페이지네이션 */

/* contact */
/* contact의 letter_section은 위에서 main_section과 함께 씀 */
.contact .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2.4rem;
}

.contact .info strong {
  font-size: var(--fontSize-64);
  color: #F6A9CB;
}

.contact .info .info_wrap {
  width: 51.4rem;
  height: 13.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20rem;

}

.contact .info .info_wrap img {
  display: block;
  height: 100%;
}

.contact .info .info_wrap .qr {
  width: 13.3rem;
  height: 13.3rem;
}

.contact .info .info_wrap .text_wrap {}

.contact .info .info_wrap .text_wrap .text {
  display: flex;
  gap: 2rem;
}

.contact .info .info_wrap .text_wrap .text .field {
  font-weight: 600;
}

.contact .info .info_wrap .text_wrap .text p {}

.footer {}

.footer .inner {
  margin-bottom: 10rem;
}

.footer .inner p {
  font-size: var(--fontSize-18);
}